/*Done GIVEN I need to sample a potential employee's previous work
Done WHEN I load their portfolio 
Pic is done THEN I am presented with the developer's name, a recent photo or avatar, and links to sections about them, their work, and how to contact them
Done     WHEN I click one of the links in the navigation    (Like the checking the links part in challenge 1)
kinda     THEN the UI scrolls to the corresponding section     (Like the checking the links part in challenge 1)
     WHEN I click on the link to the section about their work   (0 actual scrolling)
     THEN the UI scrolls to a section with titled images of the developer's applications (thats an anchor with target is equal to blank)
     WHEN I am presented with the developer's first application                  (hint:use first assignement for help)
     THEN that application's image should be larger in size than the others        (need a First image that is 70% bigger than the rest of the 5-6 others that hold placeholders for application)
     WHEN I click on the images of the applications
     THEN I am taken to that deployed application
Flexbox is mostly done. WHEN I resize the page or view the site on various screens and devices
Done THEN I am presented with a responsive layout that adapts to my viewport   (use media querys if the flex block is having issues)
*/

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background-image:url("https://cvws.icloud-content.com/B/AcRIeZ_u511eR-snKuzyZOFSpXsOAcragDcaxVFWOcs9SDpBs2DyL_rf/pexels-karl-solano-2883049.jpg?o=Ap-W4BhKMvNp6NGG7KDcJHKKcCBcyMznc05cTVKSzXCY&v=1&x=3&a=CAogvA1fL8KCc7LqJHHO0w9Oc2p_5DSbNeMuLH7S-DYlH4gSbxCmrtu0wjAYpou3tsIwIgEAUgRSpXsOWgTyL_rfaicEvwhKCSPMUcf_zNg54LzynoaJLVuYhI6ng7RKGgMqgCHcSLEZK-ByJ7m3q2yjMle2fb8blZc7oIZ_LDASWshEe7rhbjg66EV878uZsfiHhw&e=1667098330&fl=&r=da277f4e-fdfa-4332-8ee7-dc2e0077ec33-1&k=l_4vlXnG6fA73_penipVwg&ckc=com.apple.clouddocs&ckz=com.apple.CloudDocs&p=68&s=2aZFIvNRlJrSo79DVy69OXnrRh4&cd=i");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }  
 
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: ghostwhite;
  }
  
  h2 {
    font-size: 200%;
    font-family:sans-serif;
    color:white;
  }
  
  h2 {
    margin: 2% 0;
    font-size: 250%;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
  nav a {
    color: #b9C6ae;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: blue;
  }

  .screenshot {
    height: 800px;
    width: 500px;
  }
  
  main {
    display: flex;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
    color: white;
  }
  
  section {
    color: white;
  }

  article {
    border-bottom: 1px solid #d8a47f;
  }
  .beginner {

  }

  #projects {



  }

  .projects{

  }

  article p {
    margin: 2% 0;
    font-size: 110%;
  }
  
  article ul {
    margin-left: 5%;
    font-size: 110%;
    list-style: circle;
  }
  
  .article {
    float:right
  }
  
  form {
    max-width: 400px;
  }
  
  form h3 {
    font-size: 150%;
  }
  
  form p {
    margin: 3% 0;
  }
  
  label {
    display: block;
  }
  
  button {
    padding: 1% 2%;
    color: #fff;
    background-color: #13293d;
    border: none;
    outline: none;
    cursor: pointer;
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
  
  .text-input {
    width: 100%;
    max-width: 100%;
  }
  
  .text-input, select {
    padding: 1%;
    outline: none;
    border: 1.2px solid #b9C6ae;
  }
  
  .text-input:hover, .checkbox:hover, 
  select:hover, button:hover {
    box-shadow: 0 0 5px #999;
  }
  

  .text-input:focus {
    border-right-width: 5px;
  }
  

  .text-input:placeholder-shown {
    border-style: dashed;
  }
  
  .flex-row {
    display: flex;
    align-items: center;
  }
  
  .flex-row select {
    flex: 1 0 0;
    margin-left: 2%;
  }
  
  .flex-row input {
    margin-right: 2%;
  }
  

  .checkbox:checked + label {
    color: #999999;
    font-style: italic;
  }
  

  .checkbox:checked + label::after {
    margin-left: 10px;
    font-size: 90%;
    content: "(thanks!)";
    color: white;
  }

  span{
    color: ghostwhite;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #13293d;
    color: #fff;
    
  }
  
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  }