  body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background-color:ivory;
     }  
 
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: black;
  }
  
  h2 {
    font-size: 200%;
    font-family:sans-serif;
    color:black;
    margin: 2% 0;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
  nav a {
    color:ivory;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: blue;
  }
  
  main {
    display: flex;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
    color:none;
  }
  
  section {
    color:none;
  }

  article {
    border-bottom: 1px solid tan;
  }
  
  .beginner {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    }
  .work {
    display:flex;
    justify-content: center;
  }

  #screenshot {
    flex: 1 0 800px;
    display: block;
    max-height:1400px;
    max-width: 1000px;
  }

  #projects {
    flex: 1 0 800px;
 }
  
  .projects{
   flex: 1 0 400px;
  }

  article p {
    margin: 2% 0;
    font-size: 110%;
  }
  
  article ul {
    margin-left: 5%;
    font-size: 110%;
    list-style: circle;
  }
  
  .article {
    float:right
  }
  
  .flex-row {
    display: flex;
    align-items: center;
  }
  
  .flex-row select {
    flex: 1 0 0;
    margin-left: 2%;
  }
  
  .flex-row input {
    margin-right: 2%;
  }
  
  span{
    color: ghostwhite;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #13293d;
    color: #fff;
    
  }
  
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }